
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - ./db/megasena.csv:/megasena.csv:ro
    ports:
      - "${DB_PORT}:5432"

  server:
    build: ./server
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "${SERVER_PORT}:4000"
    depends_on:
      - postgres

  front:
    build: ./front
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - server
